# Ignore the contents of the _site directory
_site/
.jekyll-cache/
.sass-cache/
.bundle/
vendor/bundle/
assets/files/*.pdf

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json
opt.txt
opt2.txt
